.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.section {
  background-color: #1c91df;
  padding:150px;
}
.section_1 {
  background-color: #86b0d0;
  padding: 150px;
}
.section_2 {
  background-color: #f0f0f0;
  padding: 150px;
}
